@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --color-background: #FDF8F4;
  --color-surface: #F7E4D8;

  --color-text-primary: #5C3A2E;

  --color-primary: #A9714B;
  --color-primary-hover: #5C3A2E;

  --color-secondary: #D9A78B;
  --color-secondary-hover: #A9714B;

  --color-accent: #D4B483;

  --color-marromElegante: #7D5948;

  --color-nudeAmarronzado: #D9BBA8;

  --color-marromClaro: #F3E7DE;

  --color-success: #8A9B7E;
  --color-error: #7A3E4A;

}

body {
  font-family: 'Poppins', sans-serif;

  margin: 0;
  background-color: var(--color-background);
  color: var(--color-text-primary);
}